@import "../../assets/variables.scss";

.primary-btn {
  width: 100%;
  background-color: $primary;
  font-family: "Tauri", sans-serif;
  color: $white;
  padding: 14px 0 15px 0;
  font-size: 24px;
  line-height: 1.04;
  letter-spacing: 0.05em;
  border: 0;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }
}
